.navbar-light {
    &.bg-white {
        box-shadow: 0 2px 30px 0 rgba(207, 207, 207, 0.5);
    }

    .navbar-toggler {
        color: $black;
    }

    .navbar-nav {
        .nav-link {
            color: $black;

            @include hover-focus {
                color: $black;
            }
        }
    }

    &.navbar-lg {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.navbar-toggler{
    border: 0;
}

.nav-item {
    .btn {
        margin-left: $navbar-padding-x;
        margin-right: $navbar-padding-x;
    }
}

.navbar {
    .navbar-nav {
        .nav-link {
            font-size: 1.25rem;
            line-height: 1.5;
            padding: $navbar-nav-link-padding-y $navbar-nav-link-padding-x;
        }
    }
}