.nav-vertical {
    flex-direction: column;

    .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer-nav {
    .nav-link {
        color: #4e5d78;
        line-height: 1.69;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.lead-social-menu {
    white-space: nowrap;
    a {
        color: inherit;
        display: inline-block;
        line-height: 1;

        &:not(:last-child) {
            margin-right: 16px;
        }

        .feather {
            height: 20px;
            width: auto;
        }
    }
}