<header>
        <nav class="navbar navbar-expand-lg navbar-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="assets/images/logo.svg" alt="lead-ui-kit logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leadUIMainNav"
                    aria-controls="leadUIMainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i data-feather="menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="leadUIMainNav">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Overview</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="badges.html" class="nav-link">Badges</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="field-elements.html" class="nav-link">Field Elements</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="avatars.html" class="nav-link">Avatars</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="tabs.html" class="nav-link">Tabs</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="landing-sass.html" class="nav-link" target="_blank">Sass Landing Page</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="landing-business.html" class="nav-link" target="_blank">Business Landing Page</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="landing-app.html" class="nav-link" target="_blank">App Landing Page</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="header.html" class="nav-link">header</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="footer.html" class="nav-link">Footer</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="content-sections.html" class="nav-link">Content Sections</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="blog-sections.html" class="nav-link">Blog Sections</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="faq.html" class="nav-link">FAQ</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="clients.html" class="nav-link">Clients</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="testimonials.html" class="nav-link">Testimonials</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="features.html" class="nav-link">Features</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="pricing-plans.html" class="nav-link">Pricing Plans</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="team.html" class="nav-link">Team</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="gallery.html" class="nav-link">Gallery</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../documentation/documentation.html" target="_blank">Docs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="btn btn-rounded btn-danger">Buy Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>